body{
  background-image: url(img/pexels.jpg);
  background-repeat: repeat-x;
  font-family: Arial, Helvetica, sans-serif
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding-left: 50px;
  

}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  padding: 10px;
  
}

li a:hover {
  background-color: #111;
}

/* picture logo */

img{
  border-radius: 8px;
}

.container_logo img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  
}
.container_logo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 8px;

}
.logodescription{
  font-weight:bold;
  color: rgb(32, 28, 28);
  padding: 50px;
  font-size: xx-large;
  align-self: center;
}
.logodescription img{
  border-radius: 8px;
}



/* new restaurants */
.newrestaurant{
  text-align: center;
  background-color: #333;
  color: whitesmoke;
}
.newrestaurant h2{
  padding: 1px;
  
}

/* new restaurant */

.container-restaurant{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
figcaption{
  text-align: center;
}
figure:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* @media screen and (max-width: 700px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
} */


